*{
  margin: 0;
  padding: 0;
}

.add{
  border-radius: 10px;
  height: 30vh;
  display: grid;
  place-items: center;
  box-shadow: 0px 0px 20px rgb(59, 92, 95);

}
.cards{
  display: flex;
  flex-wrap: wrap;
}

.cardadd{
  display: grid;
  place-items: center;
  padding: 10% 0;
}
.adddata{
  width: 50%;
  padding: 15px;
  border-radius: 10px;
  color: white;
  box-shadow: 0px 0px 15px rgb(59, 92, 95);

}
.dataform{
  display: grid;
  place-items: center;
  margin-top: 80px;
}
.home{
  display: grid;
  place-items: center;
  margin-top: 150px;
  
}

.homecard{
  display: grid;
  place-items: center;
  padding: 6% 0;
}

